.card {
  max-width: 413px;
  position: relative;
  border-style: none;
}

.card__image {
  border-radius: 8px;
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  opacity: 1;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-btn_active {
  background-image: url(../images/Like-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__delete-btn {
  background-image: url(../images/Delete.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/Delete-button-active.svg);
  opacity: 0.4;
}

.card__title {
  max-width: 353px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }
}
