.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition: visibility 0.3s;
  opacity: 0.3s ease-in;
}

.modal_is-opened {
  visibility: visible;
  transition-delay: 0s;
  transition: visibility 0.3s;
  opacity: 0.3s ease-in;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-style: none;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__submit-btn {
  padding: 18px 32px;
  border-radius: 8px;
  width: 156px;
  background-color: #212121;
  color: #fcf5e5;
}

.modal__submit-btn:hover {
  cursor: pointer;
  background-color: #212121;
}

.modal__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0 0 32px;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  height: 52px;
  border-radius: 8px;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #21212166;
}

@media screen and (max-width: 768px) {
  .modal__submit-btn {
    width: 100%;
  }
}
