.modal {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out, 0s linear 0.3s;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  background: transparent url("../images/Close-Icon.svg") center no-repeat;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-size: 35px 35px;
  opacity: 0.3;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal_close_type_preview {
  background: url("../images/CloseIconactive.svg");
  top: 0;
  right: -52.5px;
  background-color: transparent;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__submit-btn {
  padding: 18px 32px;
  border-radius: 8px;
  width: 156px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
}

.modal__submit-btn:hover {
  background: #212121cc;
  cursor: pointer;
}

.modal__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  height: 52px;
  border-radius: 8px;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #21212166;
}

.modal__caption {
  color: #fff;
  padding: 4px 8px;
  background: #212121;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  border-radius: 8px;
  width: fit-content;
  height: 24px;
  display: flex;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__image {
    max-width: unset;
  }
}

@media screen and (max-width: 768px) {
  .modal__submit-btn {
    width: 100%;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__title {
    width: 106px;
    height: 20px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    justify-content: space-between;
  }

  .modal__close-btn {
    width: 40px;
    height: 40px;
    opacity: 40%;
    top: 12px;
    right: 12px;
  }

  .modal_close_type_preview {
    top: -48px;
    right: 0;
  }
}
