.profile {
  justify-content: space-between;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  border-radius: 8px;
  margin-right: 20px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__add-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #212121;
  width: 149px;
  height: 52px;
  margin-top: auto;
  margin-left: auto;
  line-height: 100%;
  color: #fcf5e5;
  border-radius: 8px;
  border: none;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  border: none;
}

/* TODO - set content of ::after element to "" */
/* TODO - finish mobile avatar button styles */

.profile__avatar-btn::after {
  content: "Edit Avatar";
  color: #ffffff;
}

.profile__avatar-container {
  position: relative;
  width: 190px;
  height: 190px;
}

.profile__avatar-container:hover .profile__avatar-btn {
  /* makes button visible when hovering over it */
  visibility: visible;
  cursor: pointer;
  /* Makes the edit avatar button blend in with the picture */
  background-color: transparent;
}

.profile__edit-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  background-color: transparent;
  margin-top: auto;
  font-weight: 500;
  line-height: 100%;
  font-size: 16px;
  border: none;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__add-btn {
    width: 100%;
    margin: 0;
  }

  .profile__description {
    margin: 0 0 32px;
  }
}
